<section id="main">
  <h1>ToDo App</h1>
  <h2>['Manage', 'your', 'Tasks']</h2>
  <div class="task-container">
    <p *ngIf="todo == []" class="empty">No Tasks.</p>
    <ng-container *ngIf="todo !== []">
      <div *ngFor="let task of todo" class="task">
        <h3>{{ task.title }}<span><a [routerLink]="['/task', task]" [queryParamsHandling]="'preserve'" class="edit" id="edit">
          <i class="fas fa-edit"></i></a></span></h3>
        <p class="description">{{ task.description }}</p>
      </div>
    </ng-container>
  </div>
</section>
<a>
  <button [routerLink]="['/task']" class="button" id="new">.newTask()</button>
</a>
