    <section id="main">
        <h1>.todo(list)</h1>
        <h2>{{ mode === 'new' ?  'Create Task' : 'Edit Task' }}</h2>
        <div class="form-container">
            <form>
                <input [(ngModel)]="currentTask.title" type="text" name="task" id="task" placeholder="Task" required>
                <br>
                <textarea [(ngModel)]="currentTask.description" name="description" id="description" maxlength="255" cols="30" rows="5" placeholder="Description" required></textarea>
                <br>
                <input (click)="submit()" type="submit" class="submit" value="submit">
            </form>
        </div>
    </section>
    <a *ngIf="mode == 'edit'" (click)="deleteTask()"><button class="button" id="delete">.delete()</button></a>
    <a [routerLink]="''"><button class="button" id="cancel">.cancel()</button></a>
